table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th:hover {
    background-color: #04bd98;
}

th {
    cursor: pointer;

    > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tfoot tr:first-of-type {
    border: 2px solid #009879;
}

.hoverableCell {
    cursor: pointer;
}

.hoverableCell:hover {
    background-color: rgb(86, 85, 86);
}